<div id="total_votes">
  <strong>total des votes: </strong>
  <%= somme %>
</div>
<p>
  <%= button_to 'Upvote', admin_post_vote_path(post), method: :post, params: {value: 1} %>
</p>
<p>
  <%= button_to 'Downvote', admin_post_vote_path(post), method: :post, params: {value: -1} %>
</p>
